---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Keypoint from "../components/Keypoint.astro";
import Voices from "../components/Voices.astro";
import Join from "../components/Join.astro";
import Question from "../components/Question.astro";
import Updates from "../components/Updates.astro";
import Contact from "../components/Contact.astro";
---
<Layout>
	<>
		<Header />
		<Home />
    <About />
    <Keypoint />
    <Voices />
    <Question />
    <Join />
  	<Updates />
    <Contact />
	</main>
		<Footer />
</Layout>
