---
import './Footer.css';
---

<footer class="footer">
      <div>
        <p>© 2024 MyWebsite.</p>
      </div>
      <div>
        <div class="Flogo">
          <a href="#home">MyWebsite</a>
        </div>
        <nav class="Fnavbar">
          <a href="#qSec">About Us</a>
          <a href="#updateSec">Events</a>
          <a href="#contact">Contact Us</a>
        </nav>
      </div>
    </footer>