.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
  border-radius: 70px;
  background-color: #dfdede;
  color: #232323;
  z-index: 1000;
}

.logo a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar a {
  margin: 0 10px;
  color: #797474;
  text-decoration: none;
}

.join {
  background: #758e4f;
  padding: 15px;
  border-radius: 70px;
}

.join a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 2em;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.join-mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfdede;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .navbar.open {
    transform: translateX(0);
  }

  .navbar a {
    margin: 20px 0;
    font-size: 1.5em;
  }

  .join-desktop {
    display: none;
  }

  .join-mobile {
    display: block;
    margin-top: 20px;
    width: 80%;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle .fa-xmark {
    color: red;
  }
}

.menu-toggle .fa-xmark {
  transform: rotate(180deg);
}
