---
import './Home.css';
import Vid from "../assets/join.mp4"
---

<section id="home" class="home section">
      <div class="video">
        <video class="vid" autoPlay muted loop id="bg-video">
          <source src={Vid} type="video/mp4" />
        </video>
      </div>
      <div class="content">
        <h1>Welcome to MyWebsite</h1>
        <p>Your go-to place for amazing content!</p>
      </div>
    </section>