---
import './Join.css';
import JVideo from "../assets/join.mp4"
---

<section class="joinSec" id="joinSec">
      <div class="jVid">
        <video src={JVideo} autoPlay muted loop></video> 
      </div>
      <div class="join-card">
        <h1>Join Us</h1>
        <p>Be a part of our amazing community</p>
        <button>Sign Up</button>
      </div>
    </section>