---
import './Keypoint.css';
---

<section id="keypoints" class="keypoints">
      <div class="marquee">
        <span>
          <h1>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit * Eligendi
            enim cum adipisci ipsa qui * beatae sint sunt sit voluptatibus
            quisquam commodi unde assumenda doloremque et numquam eum esse *
            Quod, suscipit!
          </h1>
          <h1>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit * Eligendi
            enim cum adipisci ipsa qui * beatae sint sunt sit voluptatibus
            quisquam commodi unde assumenda doloremque et numquam eum esse *
            Quod, suscipit!
          </h1>
        </span>
      </div>
    </section>